@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none; /* whether browser may synthesize typefaces when missing in font-family */
  text-rendering: optimizeLegibility; /* as read */
  -webkit-font-smoothing: antialiased; /* controls anti-aliasing when fonts are rendered */
  -moz-osx-font-smoothing: grayscale; /* for mac */
  -webkit-text-size-adjust: 100%; /* controls the text inflation algorithm used on some smartphones and tablets */
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 4em;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  line-height: 1;
  font-weight: 900;
}

h3 {
  font-size: 1em;
  font-weight: 800;
}

h4 {
  font-size: 1em;
  /* line-height: 1; */
  font-weight: 700;
}

h6 {
  font-size: 1em;
  line-height: 1;
  font-weight: 500;
}

p {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
}

section {
  margin-bottom: 100px;
}
