@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-color: #2d200f;
  background-color: white;

  font-synthesis: none; /* whether browser may synthesize typefaces when missing in font-family */
  text-rendering: optimizeLegibility; /* as read */
  -webkit-font-smoothing: antialiased; /* controls anti-aliasing when fonts are rendered */
  -moz-osx-font-smoothing: grayscale; /* for mac */
  -webkit-text-size-adjust: 100%; /* controls the text inflation algorithm used on some smartphones and tablets */
}

body {
  font-family: "Helvetica", "Inter", "Arial", sans-serif;
  color: var(--black-color);
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
}

body,
html {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h4 {
  /* Subtitles */
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

h5 {
  /* Buttons */
  font-size: 1.2em;
  line-height: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}
h6 {
  font-size: 0.7em;
  line-height: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 0.8em;
  line-height: 1.5em;
}

section {
  margin-bottom: 130px;
}

.space-btwn-title {
  margin-bottom: 40px;
}

.link-to-full-display {
  margin-top: 20px;
}

.project,
.card {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: drop-shadow(0px 4px 10px #00000040) grayscale(100%);
}
