@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.8);
  background-color: #1b1f25;

  font-synthesis: none; /* whether browser may synthesize typefaces when missing in font-family */
  text-rendering: optimizeLegibility; /* as read */
  -webkit-font-smoothing: antialiased; /* controls anti-aliasing when fonts are rendered */
  -moz-osx-font-smoothing: grayscale; /* for mac */
  -webkit-text-size-adjust: 100%; /* controls the text inflation algorithm used on some smartphones and tablets */
}

body,
html {
  border: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 1.2em;
  line-height: 1;
  font-weight: 900;
}

h6 {
  font-size: 1em;
  line-height: 1;
  font-weight: 500;
}

@media only screen and (min-width: 640px) {
  h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 4rem;
  }
}

h3 {
  font-size: 1em;
  font-weight: 800;
}

h4 {
  font-size: 1em;
  /* line-height: 1; */
  font-weight: 700;
}

section {
  margin-bottom: 100px;
}

.gradient_text {
  /* Fallback: Set a background color. */
  background-color: #ac42ff;

  /* Create the gradient. */
  background-image: linear-gradient(90deg, #ac42ff, #ff008a);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
